
policy_module(custom_audit_secmark,1.0)

gen_require(`
	type unconfined_t;
	type sshd_t;
	type traceroute_exec_t;
	type ping_exec_t;
	type bin_t;
	type chronyd_t;
	type mozilla_t;
	type unlabeled_t;
	type ssh_server_packet_t;
	type traceroute_client_packet_t;
	type traceroute_server_packet_t;
	type http_client_packet_t;
	type dns_client_packet_t;
	type ntp_client_packet_t;
')

auditallow sshd_t ssh_server_packet_t : packet { send recv };
auditallow { traceroute_exec_t ping_exec_t } { traceroute_client_packet_t traceroute_server_packet_t } : packet { send recv };
auditallow bin_t http_client_packet_t : packet { send recv };
auditallow chronyd_t ntp_client_packet_t : packet { send recv };
auditallow mozilla_t { http_client_packet_t dns_client_packet_t } : packet { send recv };
auditallow unconfined_t { unlabeled_t ssh_server_packet_t traceroute_client_packet_t traceroute_server_packet_t http_client_packet_t ntp_client_packet_t dns_client_packet_t } : packet { send recv };

