#Should make it possible for user_u to access /var/log/ to list files when executing te.sh

policy_module(custom_var-log, 1.0)

gen_require(`
	role user_r;
	type user_t;
	type bin_t;
	type shell_exec_t;
	type user_home_t;
	type rpm_exec_t;
	type null_device_t;
	type var_log_t;
	type user_devpts_t;
	type user_home_dir_t;
	type rpm_t;
	type proc_t;
	type sysfs_t;
	type devpts_t;
	type auditd_log_t;
	type passwd_file_t;
	type unconfined_t;
	type cert_t;
	type gconf_home_t;
	type init_var_run_t;
	type init_t;
	type kernel_t;
	type syslogd_t;
	type systemd_userdbd_t;
	type udev_t;
	type systemd_resolved_t;
	type systemd_localed_t;
	type auditd_t;
	type user_dbusd_t;
	type mount_t;
	type NetworkManager_t;
	type abrt_dump_oops_t;
	type accountsd_t;
	type alsa_t;
	type avahi_t;
	type chronyd_t;
	type colord_t;
	type cupsd_t;
	type devicekit_disk_t;
	type devicekit_power_t;
	type devpts_t;
	type firewalld_t;
	type gssproxy_t;
	type mcelog_t;
	type modemmanager_t;
	type policykit_t;
	type restorecond_t;
	type rtkit_daemon_t;
	type sssd_t;
	type system_dbusd_t;
	type systemd_logind_t;
	type systemd_machined_t;
	type unconfined_dbusd_t;
	type unconfined_service_t;
	type unconfined_t;
	type xdm_t;
	type xserver_t;
	type fprintd_t;
	type fwupd_t;
	type geoclue_t;
	type pcscd_t;
	type realmd_t;
	type staff_dbusd_t;
	type staff_t;
	type systemd_hostnamed_t;
	type user_gkeyringd_t;
	attribute logfile;
')

type selinux_tester_t;
type test_script_t;
type test_script_dir_t;

# Define as files type, otherwise unexpected behaviour might result
files_type( test_script_t );
files_type( test_script_dir_t );
# Define as domain type
domain_type( selinux_tester_t );

# Allow user_r to use selinux_tester_t as a domain
role user_r types { selinux_tester_t rpm_t };

# Next three rules should allow domain transition from user_t to selinux_tester_t using a file of type test_script_t
# Allow transition
allow user_t selinux_tester_t : process transition;

# Allow execution of script
allow user_t test_script_t : file { execute read getattr open };
allow selinux_tester_t test_script_t : file { read execute execute_no_trans entrypoint open getattr ioctl };
# Allow execution of script in dir with type test_script_dir_t
allow { user_t selinux_tester_t } test_script_dir_t : dir { execute read getattr search };

# TODO use a macro to define access

# Allow script access to commands
allow selinux_tester_t { bin_t shell_exec_t user_home_t rpm_exec_t  } : file { execute read getattr };
allow selinux_tester_t bin_t : file execute_no_trans;
allow selinux_tester_t self : file { execute read getattr };
# Allow domain transitions for rpm
allow selinux_tester_t rpm_exec_t : file { open entrypoint };
allow selinux_tester_t rpm_t : process transition;
type_transition selinux_tester_t rpm_exec_t : process rpm_t;

# Allow mapping memory

allow selinux_tester_t { shell_exec_t bin_t } : file map;

# Allow querying processes
allow selinux_tester_t { proc_t sysfs_t } : { file dir } read;
allow selinux_tester_t proc_t : file open;
allow selinux_tester_t { self user_t } : dir getattr;
allow selinux_tester_t self : process getattr;

# Allow access to /dev/null
allow selinux_tester_t null_device_t : file write;

# Allow access to pts for echo
allow selinux_tester_t user_devpts_t : chr_file { read write getattr ioctl };
# Really necessary?
#allow selinux_tester_t devpts_t : dir { search getattr } ;

# Allow operations in home dirs
allow selinux_tester_t user_home_dir_t : dir { read execute getattr search };

# Allow access to log directory
allow selinux_tester_t var_log_t : dir { read execute getattr };
allow selinux_tester_t var_log_t : lnk_file { read getattr };
allow selinux_tester_t { logfile auditd_log_t } : { dir file } getattr;
# Allow reading passwd to get usernames
allow selinux_tester_t passwd_file_t : file { read open };

# Allow writing to home directory
allow selinux_tester_t user_home_t : file write;

# Domain transition
type_transition user_t test_script_t : process selinux_tester_t;

# Object transition for scripts file
type_transition unconfined_t test_script_dir_t : file test_script_t;

# Do not audit
dontaudit selinux_tester_t { cert_t user_t gconf_home_t init_var_run_t devpts_t } : dir search;
dontaudit selinux_tester_t { init_t kernel_t syslogd_t systemd_userdbd_t system_dbusd_t udev_t systemd_resolved_t systemd_localed_t auditd_t user_dbusd_t mount_t } : dir getattr;
dontaudit selinux_tester_t sysfs_t : file open;
dontaudit selinux_tester_t { passwd_file_t proc_t } : file getattr;
dontaudit user_t { selinux_tester_t kernel_t } : process getpgid;
# Generated by audit2allow
dontaudit selinux_tester_t NetworkManager_t : dir getattr;
dontaudit selinux_tester_t abrt_dump_oops_t : dir getattr;
dontaudit selinux_tester_t accountsd_t : dir getattr;
dontaudit selinux_tester_t alsa_t : dir getattr;
dontaudit selinux_tester_t avahi_t : dir getattr;
dontaudit selinux_tester_t chronyd_t : dir getattr;
dontaudit selinux_tester_t colord_t : dir getattr;
dontaudit selinux_tester_t cupsd_t : dir getattr;
dontaudit selinux_tester_t devicekit_disk_t : dir getattr;
dontaudit selinux_tester_t devicekit_power_t : dir getattr;
dontaudit selinux_tester_t devpts_t : dir getattr;
dontaudit selinux_tester_t firewalld_t : dir getattr;
dontaudit selinux_tester_t gssproxy_t : dir getattr;
dontaudit selinux_tester_t mcelog_t : dir getattr;
dontaudit selinux_tester_t modemmanager_t : dir getattr;
dontaudit selinux_tester_t policykit_t : dir getattr;
dontaudit selinux_tester_t restorecond_t : dir getattr;
dontaudit selinux_tester_t rtkit_daemon_t : dir getattr;
dontaudit selinux_tester_t sssd_t : dir getattr;
dontaudit selinux_tester_t system_dbusd_t : dir getattr;
dontaudit selinux_tester_t systemd_logind_t : dir getattr;
dontaudit selinux_tester_t systemd_machined_t : dir getattr;
dontaudit selinux_tester_t unconfined_dbusd_t : dir getattr;
dontaudit selinux_tester_t unconfined_service_t : dir getattr;
dontaudit selinux_tester_t unconfined_t : dir getattr;
dontaudit selinux_tester_t xdm_t : dir getattr;
dontaudit selinux_tester_t xserver_t : dir getattr;
dontaudit selinux_tester_t fprintd_t:dir getattr;
dontaudit selinux_tester_t fwupd_t:dir getattr;
dontaudit selinux_tester_t geoclue_t:dir getattr;
dontaudit selinux_tester_t pcscd_t:dir getattr;
dontaudit selinux_tester_t realmd_t:dir getattr;
dontaudit selinux_tester_t rpm_t:dir getattr;
dontaudit selinux_tester_t staff_dbusd_t:dir getattr;
dontaudit selinux_tester_t staff_t:dir getattr;
dontaudit selinux_tester_t systemd_hostnamed_t:dir getattr;
dontaudit selinux_tester_t user_gkeyringd_t:dir getattr;

